.sidebar-categories{
  .sidebar-header-container{
    margin-bottom: 16px;
    .text{
      font-family: DM Sans;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      
    }
  }
  .sidebar-categories-content{
    .list-nav-arrow{
      width: fit-content;
    }
  }
}