.category-container{
  display: flex;
  align-items: center;

font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.015em;
text-align: left;

  .category-item{ 
  .categories-list-nav-item{
    display: flex;
    gap: 5px;
    &-number{
      color:#B1B1B6
    }
  }
}
}