.characteristics-main{
  margin: 30px 0;
  .characteristics-items{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .characteristic{
      display: flex;
      justify-content: space-between;
    }

    .first-characteristic{
      &-text{

      }
    }
    .second-characteristic{
      &-text{
        &-subtext{
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: #B1B1B6;
        }
      }
    }
  }
}
@media (max-width: 768px) and (min-width:460px) {
    .characteristics-main{
      width: 50%;

    }
  }