.filter-button-main{
  background-color: #FFFEFB;
  border-radius: 16px;
  display: flex;
  gap:6px;
  padding: 12px 24px;

  &-text{
  }
  img{
  }

}
@media (min-width:460px) {
  .filter-button-main{
    display: none;
  }
  
}