.round{
  border: 1px solid #B1B1B6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 15px;
  padding: 3px;
  .inner-round{
    &.active{
      background-color: #36BEF9;
      border-radius: 50%;
      
      height: 100%;
      width: 100%;
    }
  }
}