.tag{
  height: 30px;
  padding: 6px 8px 6px 4px;
  display: flex;
  align-items: center;

  background-color: #FFFEFB;
  border-radius: 12px;
  .text-container{
    text-wrap: nowrap;
  }
  &__round{
    border: 1px solid #B1B1B6;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 2px;
    margin-right: 5px;
    .inner-check-mark{
      display: none;
      &.active{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}