.tags-block-main{
  
  .tags-container {
    max-height: 500px;
    min-height: 200px;
    display: flex;
    gap: 8px 8px;
    flex-wrap: wrap;
    
  
  &.scrollbar{
    overflow-y: scroll;
    overflow-x: hidden;
    // scrollbar-width: ;   
    scrollbar-width: 0.3rem ;
    
      &::-webkit-scrollbar {
        width: 4px ;
        height: 0.6rem;
        background-color: transparent ;
      }
    
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 160px ;
        border-radius: 160px ;
        background-color: #B1B1B6;
      }
}
  }
  

  .buttons-block{
    border-top: solid 0.5px #B1B1B6;
    padding-top: 6px;
    width: 100%;
    height: 40px;
    display: none;
    &.visible{
      display: flex;
      gap: 10px;
    }
    button{
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.015em;
    border-radius: 12px;
    text-wrap: nowrap;
    }
    .apply-button{

      background-color: #36BEF9;
      color: #FFFEFB;
      border: 0;
    }
    .reset-button{

      background-color: #FFFEFB;
      border: 1px solid #36BEF9;
      color: #36BEF9;
    }
  
  }
}


.buttons-block {
  display: flex;

  button {

    letter-spacing: 0.15em;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    overflow: hidden;

    cursor: pointer;


      &:after,
      &:before {
        width: 0%;
        height: 0%;
        content: "";
        position: absolute;
        border-radius: 100%;
      }

      &:after {
        transition: all 0.5s ease;
        background-color: white;
      }

      &:before {
        transition: all 0.5s ease-out;
        background: #36BEF9;
      }

      span {
        z-index: 1;
        transition: all 0.3s ease-out;
      }

      &.cta-01 {
        background: #36BEF9;
        color: white;
      }

      &.cta-02 {
        background-color: transparent;
        color: #36BEF9;

        &:after {
          background: #36BEF9;
        }
      }

      &:hover {
        &.cta-01 {
          color: #36BEF9;
        }
        &.cta-02 {
          color: white;
        }
        &:after,
        &:before {
          width: 200px;
          height: 200px;
          border-radius: 4px;
        }
        &:after {
          transition: all 0.7s ease-in;
        }
        
        &:before {
          transition: all 0.5s ease-in;
        }
      }
  }
}
