.mention-main{
  margin-left: 240px;
  margin-bottom: 100px;
  margin-top: 100px;
  .cards-box{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  h3{
    margin-bottom: 30px;
  }
}

@media (max-width:768px) {
  .mention-main{
      h3{
        margin-left: 240px;
      }
      width: 100%;
    
    margin-left: 0;
  }
}
@media (max-width:576px) {
  .mention-main{
    h3{
      margin-left: 0;

    }
  }
}