.review-section{
  .review-title{
    margin-left: 240px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
  }
  .main-block{
    &-header{
    margin: 15px 0px 30px 240px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;


    }
    &-reviews{
      display: flex;
      gap: 20px;
      &-left{
        .read-more{
          margin-left: 240px;
          margin-top: 10px;
          border: 0;
          color: #36BEF9;
          background-color: whitesmoke;
        }
      }
      &-right{
        flex: 1;
      }
    }
  }
}


@media (max-width:992px) {
  .review-section{
      .main-block-reviews{
        flex-direction: column-reverse;
        justify-content: center;
        align-self: center;  
        &-right{
          margin-left: 240px;
        }
      }

    }

  
}

@media (max-width:460px) {
  .review-section{
    .review-title{
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      margin-left: 0;
      padding-left: 0;
    }
      .main-block{
      &-header{
        margin-left: 0;
      }
      &-reviews{
        flex-direction: column-reverse;
        justify-content: center;
        align-self: center;
        &-left{
          .dots{
            .paging-dot{
              overflow: hidden;
              fill: #B1B1B666;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
            &.active{
              .paging-dot{
                fill: #36BEF9;
              }
            }
          }
          .review-card{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: none;
          }
          .read-more{
            display: none;
          }
          
        }
            
      &-right{
        margin-left: 0px;
        }
      }
    }


  }
}
// @media (max-width:460px) {
//   .review-section{
//     .main-block{
//       &-reviews{
//         flex-direction: column-reverse;
//         &-left{
//           display: flex;
//           flex-direction: row;
//           width: 100vw;
//           overflow: hidden;

//           .review-card{
//             flex-direction: column;
//             align-items: center;
//             justify-content: center;
//             padding: 10px;
//             min-width: 85vw;
//             box-sizing: border-box;
//             gap:20px
//           }
//           button{
//             display: none;
//           }
//         }

//         &-right{
//         }
//       }
//     }
//   }
// }
