.dropdown-option-custom{
  display: flex;
  align-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  gap:20px;
  height: 70px;
  .img-box{
    width: 50px;
    height: auto;
    border-radius: 50%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .text{

  font-size: 15px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.005em;
  text-align: center;

  }
  &:hover{
    .text{
      color: #36BEF9;
    }
  }
}

.react-select__menu{

  border-radius: 24px;
  &-list{
    &::-webkit-scrollbar-thumb {
      display: none;
    }
    scrollbar-width: thin;
    scrollbar-width: 2px;
    background-color: #F5F5F5;
    border-radius: 24px;
    
    min-height: fit-content;

  }
}

.react-select__control{
  width: 220px;
  background-color: #FFFEFB;
  border-radius: 18px;
  box-sizing: border-box;
  &--is-focused{
    border: 1px solid #36BEF9;
    width: 40vw;
  }
}
.react-select__value-container{
  
  background-color: #FFFEFB;
  border-radius: 18px;
  padding-left: 40px;
  box-sizing: border-box;
  &--is-focused{

  }
}

.react-select-container{
  width: fit-content;
  z-index: 1002;
  &--is-focused{
    border: 1px solid #36BEF9;
  }
}


@media (max-width:460px) {
  .react-select-container{

    
    width: fit-content;
    z-index: 1002;
    &--is-focused{
    }
  
    .react-select__control{
      width: 220px;
      background-color: #FFFEFB;
      border-radius: 18px;
      box-sizing: border-box;
      &--is-focused{

        width: 70vw;
      }
    }
  
  .react-select__menu{
    position: absolute;
    left:-30px;
    width: 100vw;
    height: 100dvh;
    min-height: 100dvh;
    max-height: 100dvh;
    &-list{
      height: 100dvh;
      min-height: 100dvh;
      max-height: 100dvh;
    }
  }
  }
}
